<div class="todo-item">
  <div class="todo-item_content">
    <input
      id="task-{{ todo.id }}"
      type="checkbox"
      [(ngModel)]="todo.completed"
      (change)="onTaskChecked()"
    />
    <label
      for="task-{{ todo.id }}"
      [ngClass]="{ completed: todo.completed, incomplete: !todo.completed }"
      >{{ todo.title }}</label
    >
  </div>
  <button class="todo-item_edit" (click)="onEdit()">
    <i class="fas fa-edit fa-lg"></i> Editar
  </button>
  <button class="todo-item_delete" style="color: black" (click)="deleteTodo()">
    <i class="fas fa-trash-alt fa-lg"></i> Remover
  </button>
</div>
