.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item_content {
  display: flex;
  align-items: center;
  gap: rem;
  margin-right: 1rem;
}

.todo-item_content label {
  font-size: 0.85rem;
  cursor: default;
  user-select: none;
}

.todo-item_content input[type="checkbox"] {
  margin-right: 0.7rem;
  cursor: pointer;
  accent-color: #b5b5ba;
}

.todo-item_content label.completed {
  color: #b5b5ba;
  text-decoration: line-through;
}

.todo-item_edit {
  background-color: #4f8cff;
  width: 6rem;
  margin-right: 15px;
  border: none;
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 4px;
}
.todo-item_delete {
  width: 6rem;
  border: none;
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 4px;
  background-color: red;
}

.todo-item_delete:hover {
  background-color: #d32f2f;
}

.todo-item_edit:hover {
  background-color: #1565c0;
}

.fa-trash-alt:hover {
  color: rgba(65, 63, 63, 0.62);
}
